body {
    background-color: powderblue;
}
h1 {
    text-align: justify;
    clear: rgb(255, 0, 0);
    font-family: arial; 
    font-size: 300%;
}
p {
   color: black;
   font-family: Comic Sans MS;
   text-align: justify;
   font-size: 100%;
}
Text  {
     text-align: justify;
     color: white; 
     font-family: courier;
     font-size: 200%;
}
a {
  color: pink; 
  font-family: comic Sans MS;
  text-aling: justify
  fant-size: 100%;
}




    